<configuration>
	<appSettings>
		<add key="FileDirectory" value="C:\XalqBankTestAppData" />
		<add key="PluginDirectory" value="C:\inetpub\wwwroot\XalqBankTestApp\Plugins" />
		<add key="PollIntervalSeconds" value="5" />
		<add key="EnabledLoaders" value=".csv;.xml;.txt" />
	</appSettings>
</configuration>
